*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coldiv{
    height: 140px;
    border: 1px solid aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.winnerStyle1{
    position: relative;
    height: 140px;
}
.winnerStyle1::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: yellow;
    width: 120%;
    top: 50%;
    transform: rotate(33deg);
}
.winnerStyle2{
    position: relative;
    height: 140px;
}
.winnerStyle2::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: yellow;
    width: 120%;
    top: 50%;
    transform: rotate(147deg);
}
.winnerStyle3{
    position: relative;
    height: 140px;
}
.winnerStyle3::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: yellow;
    width: 100%;
    top: 50%;
}
.winnerStyle4{
    position: relative;
    height: 140px;
}
.winnerStyle4::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: yellow;
    width: 68%;
    top: 47%;
    transform: rotate(90deg);
}